@using EverythingNBA.Services.Models.Season
@model ICollection<GetSeasonListingServiceModel>

@{
    ViewData["Title"] = "Seasons";
    var message = TempData["Message"] as string;
    var type = TempData["Type"] as string;
}

@if (message != null)
{
    if (type == "Success")
    {
        @await Html.PartialAsync("/Views/Shared/_SuccessBoxPartial.cshtml", message);
    }
    else
    {
        @await Html.PartialAsync("/Views/Shared/_ErrorBoxPartial.cshtml", message);
    }

}

<div class="m-3 container-fluid">
    @foreach (var season in Model)
    {
        <div class="container-fluid row">
            <div class="col-md-2 pl-3 pt-3 pr-0 border all-seasons-link-year">@season.Year</div>
            <div class="col-md-2 px-0 border">
                <h6 class="p-2">Title Winner:</h6>
                <a class="all-seasons-link" href="/Teams/TeamDetails/@season.TitleWinnerName">
                    <span class="pl-3  pr-0" style="display: block;">
                        @season.TitleWinnerName
                    </span>
                </a>
            </div>
            <div class="col-md-2 px-0 border">
                <a class="w-100 mt-3 all-seasons-link" href="/Seasons/Standings/@season.Id">
                    <span class="pl-3 py-3 pr-0" style="display: block;">
                        Regular Season Standings
                    </span>
                </a>
            </div>
            <div class="col-md-2 px-0 border">
                <a class="mt-3 all-seasons-link" href="/Playoffs/PlayoffBracket/@season.Year">
                    <span class="pl-3 py-3 pr-0" style="display: block;">
                        Playoff Bracket
                    </span>
                </a>
            </div>
            <div class="col-md-2 px-0 border">
                <a class="mt-3 all-seasons-link" href="/AllStarTeams/SeasonAllStarTeams/@season.Year">
                    <span class="pl-3 py-3 pr-0" style="display: block;">
                        All Star Teams
                    </span>
                </a>
            </div>
            <div class="col-md-2 px-0 border">
                <a class="mt-3 all-seasons-link" href="/Awards/SeasonAwards/@season.Year">
                    <span class="pl-3 py-3 pr-0" style="display: block;">
                        Player Awards
                    </span>
                </a>
            </div>
        </div>
    }
</div>

