@using EverythingNBA.Web.Models.Seasons
@model SeasonDetailsInputModel

@{
    ViewData["Title"] = $"Edit {Model.Year} Season";
}

<h3 class="mx-3 px-3  pt-3 pb-0 w-100 player-form-label">Edit Season</h3>

<div class="m-3 form-group player-form">
    <form class="m-3 form-group" enctype="multipart/form-data" asp-control@{
          ViewData["Title"]="Home" ;
          }ler="Seasons" asp-action="Edit" method="post">

        <input type="hidden" class="form-control" asp-for="Id">

        <label>Year</label>
        <span asp-validation-for="Year" class="text-danger"></span> <br />
        <input placeholder="Year..." asp-for="Year" type="number" class="form-control" /> <br />

        <label>Title Winner</label>
        <span asp-validation-for="TitleWinnerName" class="text-danger"></span> <br />
        <input placeholder="Title Winner..." asp-for="TitleWinnerName" type="text" class="form-control" /> <br />

        <label>Games Played</label>
        <span asp-validation-for="GamesPlayed" class="text-danger"></span> <br />
        <input placeholder="Games Played..." asp-for="GamesPlayed" type="number" class="form-control" /> <br />

        <button type="submit" class="btn btn-secondary">Edit</button>
    </form>
</div>