@using EverythingNBA.Services.Models.Game
@model GameDetailsServiceModel

<div class="border nba-scorebox p-1 m-0 col-md-2 row">
    <div class="col-md-11 p-0">
        <div class="container row px-1 text-center">
            <h4 class="col-md-5 px-1"><a class="team-link" href="/Teams/TeamDetails/@Model.TeamHostShortName">@Model.TeamHostShortName</a></h4>
            <h4 class="col-md-2 m-0 p-0 text-secondary">-</h4>
            <h4 class="col-md-5 px-1"><a class="team-link" href="/Teams/TeamDetails/@Model.Team2ShortName">@Model.Team2ShortName</a></h4>
        </div>

        <div class="container-fluid row px-1 text-center">
            <h5 class = "w-100 text-center" >@Model.Venue</h5>
        </div>
    </div>

    <a class="col-md-1 p-0" asp-controller="Games" asp-action="GameDetails" asp-route-gameId="@Model.Id">
    <i class="fas fa-chevron-right text-secondary"></i></a>
</div>
