@using EverythingNBA.Web.Models.Games
@model GameInputModel

<h3 class="mx-3 px-3  pt-3 pb-0 w-100 player-form-label">Delete Game</h3>

@if (User.Identity.IsAuthenticated)
{
    <div class="m-3 form-group player-form">
        <form class="m-3 form-group" enctype="multipart/form-data" asp-controller="Games" asp-action="Delete" method="post">

            <input type="hidden" class="form-control" asp-for="Id">

            <div class="form-row">
                <div class="col-md-5">
                    <label>Home team</label>
                    <span asp-validation-for="TeamHostName" class="text-danger"></span> <br />
                    <input placeholder="Home team..." asp-for="TeamHostName" type="text" class="form-control" readonly /> <br />
                </div>
                <div class="col-md-1">
                    <span asp-validation-for="TeamHostPoints" class="text-danger"></span> <br />
                    <input placeholder="Pts" asp-for="TeamHostPoints" type="number" class="form-control" readonly /> <br />
                </div>

                <div class="col-md-5">
                    <label>Away team</label>
                    <span asp-validation-for="Team2Name" class="text-danger"></span> <br />
                    <input placeholder="Away team..." asp-for="Team2Name" type="text" class="form-control" readonly /> <br />
                </div>
                <div class="col-md-1">
                    <span asp-validation-for="Team2Points" class="text-danger"></span> <br />
                    <input placeholder="Pts" asp-for="Team2Points" type="number" class="form-control" readonly /> <br />
                </div>
            </div> <br />

            <label>Date - @Model.Date</label>
            <span asp-validation-for="Date" class="text-danger"></span> <br />
            <input placeholder="Date..." asp-for="Date" type="date" class="form-control" readonly /><br />

            <label class="mr-3">Finished:</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="IsFinished" id="inlineRadio1" value="true" checked readonly>
                <label class="form-check-label" for="inlineRadio1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="IsFinished" id="inlineRadio2" value="false" readonly>
                <label class="form-check-label" for="inlineRadio2">No</label>
            </div>

            <button type="submit" class="btn btn-secondary">Delete</button>
        </form>
    </div>
}
else
{
    <h4 class="mx-3 px-3  pt-3 pb-0 w-100 player-form-label">Log in to access this page</h4>
}



