<form method="post" enctype="multipart/form-data"
      asp-controller="Home"
      asp-action="AddPost">

    <input type="file" name="images" multiple>
    <button type="submit" value="Upload" />

</form>
