/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}



@media (min-width: 768px) {
    html {
        font-size: 16px;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
}

.a:hover{
    color: none;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.btn-dark{
    background-color: dimgray;
}

.btn-primary {
    color: white;
    background-color: #2177fb;
    border-color: white;
}

.btn-secondary {
    color: black;
    background-color: #f12222;
    border-color: black
}

.bg-primary {
    background-color: #2177fb;
}

.bg-secondary {
    background-color: #f12222 !important;
}

.text-primary {
    color: white !important;
}

.text-secondary{
    color: black !important;
}

.border-dark{
    border-color: black;
    border: 1px solid;
}


.alert {
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 100px;
    right: 100px;
    top: 70px;
}


/*Navbar*/
.navbar {
    background-color: #ebebeb;
    border-bottom: 2.5px solid #2177fb;
}

.nav-item {
    margin-right: 5px;
    text-align: center;
}

.red-line {
    margin-bottom: 0px;
    margin-top: 0px;
    background: #f12222;
    border-bottom: 2.5px solid #f12222;
}

.logout-btn{
    padding-top: 0.5rem;
    padding-bottom: 0rem;
    text-align: justify;
    border: none;
    font-size: 1rem;
}

/*General*/
.container {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #2177fb;
    color: white;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}





/*Home*/
.nba-scorebox {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: #f12222;
    color: white;
}
.standings-title{
    height: 40px;
}
.home-team-logo{
    height: 45px;
    width: 45px;
}
.home-team-name{
    text-decoration: none;
    background-color: none;
    color: black;
    text-align: center;
    font-size: 26px;
}
.home-team-standings{
    text-align: center;
}
counter{
    font-size: 24px;
}

/*Standings*/
.standings-table {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.standings-table-head {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #ebebeb;
}

.standings-team-name {
    text-decoration: none;
    background-color: none;
    color: black;
}

/*Players*/
.player-name {
    text-decoration: none;
    background-color: none;
    color: black;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/*Seasons*/
.all-seasons-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.all-seasons-link-year {
    text-decoration: none;
    background-color: #2177fb;
    color: white;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/*PlayoffBRacket*/
.playoff-bracket {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.bracket-stage-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

.btn-primary {
    color: #ffffff;
    background: #2177fb;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

btn-light {
    background: #ebebeb;
}

.btn-secondary {
    color: black;
    background: #f10000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.series-links-title {
    color: black;
    background: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid black;
}
.series-links-block {
    border-left: 2px solid black
}

.playoff-team-name {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 19px;
}

/*All Star Teams*/

.AST-title{
    position: absolute;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.AST-link {
    text-decoration: none;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.AST-head {
    background: #ebebeb;
    text-decoration: none;
    background-color: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid black;
}

.AST-head-link {
    text-decoration: none;
    background-color: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.AS-teams-container{
    border:1px solid black;
    margin:auto;
}

.AST-content {
    /*margin-left: auto;
    margin-right: auto;
    text-align: center;*/
}

/*Awards*/

.awards-table {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.awards-table-head {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.award-link {
    text-decoration: none;
    background-color: none;
    color: black;
}

/*Player*/
.player-bio {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid black;
    background: #8b0000;
}

.player-recent-games {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid black;
    background: #ebebeb;
}

.player-link {
    text-decoration: none;
    background-color: none;
    color: black;
}

.player-image {
    height: 450px;
    width: 453px;
    border: 1px solid black;
}

.player-main-info {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    border: 1px solid black;
    border-top: 2px solid black;
}

.game-link {
    text-decoration: none;
    background-color: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.player-statistics-table-head {
    background-color: black;
    color: white;
}

.player-statistics-table{
    border: 1px solid black;
}

.table-bordered {
    border: 1px solid black;
}

.player-table-container {
    padding-left: 0rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.recent-games-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.player-game-box {
    border: 1.5px solid black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px
}

/*Games*/
.game-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
    border-bottom: 2px solid;
    width: 100%;
    text-decoration: none;
    color: black;
}

.game-player-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.game-game-link {
    text-decoration: none;
    background-color: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    float: right
}

.game-details {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quantico', sans-serif;
    font-weight: 500;
    font-size: 24px;
    border: 5px solid black;
    width: 40%;
    background-color: dimgray;
    color: #fcd12a;
}

.game-info {
    font-family: 'Quantico', sans-serif;
    font-weight: 500;
    font-size: 24px;
}

.game-score {
    font-family: 'Quantico', sans-serif;
    font-weight: 500;
    font-size: 28px;
}

.page-link {
    color: #2177fb;
}

.fa-chevron-right{
    color: #8b0000
}

.fa-chevron-left {
    color: #8b0000
}

.page-item.active .page-link {
    background-color: #2177fb;
    border-color: #2177fb;
}





btn-info {
    background-color: lightgrey;
    color: black;
    border-right: 1px solid #8b0000;
    border-bottom: 1px solid #8b0000;
    border-top: 1px solid #00008b;
    border-left: 1px solid #00008b;
}

.game-statistic-table {
    border: 1px solid black;
    font-size: 17px;
}

/*Teams*/
.team-bio {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid black;
}

.team-name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 22px;
    border: 1px solid black;
}

.team-link {
    text-decoration: none;
    background-color: none;
    color: black;
}

.team-bio-link {
    text-decoration: none;
    background-color: none;
    color: white;
}

.team-standings {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.team-player-table {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid black;
}

.team-player-name {
    text-decoration: none;
    background-color: none;
    color: black;
}

/*Awards*/
.awards-info {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0.5rem;
}

.player-awards-table {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.player-form-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.player-form {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



home-game-link {
    text-decoration: none;
    background-color: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white
}



.series-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 26px;
}

/*Font Awesome Icons*/
.fa-plus-square {
    color: blue;
}

.fa-trash-alt{
    color: red;
}

.fa-pen-square {
    color: green;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
