/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/*Navbar*/
.navbar-nba {
    background: #ebebeb;
    border-bottom: 2.5px solid #1861ac;
}

.nav-item {
    margin-right: 5px;
    text-align: center;
}

.red-line {
    margin-bottom: 0px;
    margin-top: 0px;
    background: #f00;
    border-bottom: 2.5px solid #f00;
}



/*General*/
.container {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.navbar {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}



/*Home*/
.nba-scorebox {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.standings-title{
    height: 40px;
}
.home-team-logo{
    height: 45px;
    width: 45px;
}
.home-team-name{
    text-decoration: none;
    background-color: none;
    color: black;
    text-align: center;
    font-size: 26px;
}
.home-team-standings{
    text-align: center;
}
counter{
    font-size: 24px;
}

/*Standings*/
.standings-table {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.team-name {
    text-decoration: none;
    background-color: none;
    color: black;
}

/*Players*/
.player-name {
    text-decoration: none;
    background-color: none;
    color: black;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/*Seasons*/
.all-seasons-link {
    text-decoration: none;
    background-color: none;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.all-seasons-link-year {
    text-decoration: none;
    background-color: none;
    color: black;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/*PlayoffBRacket*/
.playoff-bracket {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.bracket-stage-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
}

.team-name {
    text-decoration: none;
    background-color: none;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
